<p>user-list works!</p>

<!-- table -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>User List</h2>
      <table class="table">
        <thead>
          <tr>   <!--    sorter            --> <!-- table -->
            <th (click)="onColumnSelect('id')">#</th>
            <th (click)="onColumnSelect('name')">Name</th>
            <th (click)="onColumnSelect('email')">Email</th>
            <th (click)="onColumnSelect('address')">Address</th>
            <th (click)="onColumnSelect('active')">Active</th>
          </tr>
        </thead>
        <tbody>
              <!--    table                     --> <!--    sorter          -->
          <tr *ngFor="let user of userList$ | async | sort: columnKey:direction">
            <td>{{ user.id }}</td>        <!-- table -->
            <td>{{ user.name }}</td>      <!-- table -->
            <td>{{ user.email }}</td>     <!-- table -->
            <td>{{ user.address }}</td>   <!-- table -->
            <td>{{ user.active }}</td>    <!-- table -->
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
